
.avatar img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  
  .accessory img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }

  .select-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #232028;
    font-family: "Micro 5", sans-serif;
  }

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #ac46fa;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.button-quiz{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #7830af;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* Glow animation */
@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 rgba(174, 82, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 20px 0 rgba(157, 51, 250, 0.7);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(140, 11, 253, 0.7);
  }
}

/* Apply glow effect on hover */
.button:hover {
  animation: glow 1.5s infinite;
}

.button-quiz:hover {
  animation: glow 1.5s infinite;
}

.div-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-buttons,
.accessory-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.avatar-buttons button,
.accessory-buttons button {
  margin: 5px;
}